<app-header-page title="{{title}}"></app-header-page>



<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-xl-10 col-lg-10 col-md-12 col-sm-12 col-xs-12">
                <img class="img-team" src="../../../../../assets/images/ruvo-team.png" alt="">
                <div class="row">
                    <div class="col-12">
                        <ul>
                            <li style="--accent-color:#41516C">
                                <div class="date">1900</div>
                                <div class="title">Le origini</div>
                                <div class="descr">Le origini della pallacanestro a Ruvo di Puglia risalgono agli anni cinquanta nel Novecento. Diverse compagini si sono susseguite nel corso degli anni, ma sopravvive tuttora una presenza delle società giovanili.</div>
                            </li>
                            <li style="--accent-color:#FBCA3E">
                                <div class="date">1996</div>
                                <div class="title">La svolta</div>
                                <div class="descr">L'anno di svolta per il basket a Ruvo è il 1996, quando nasce la Pallacanestro Fiore di Puglia dalla fusione con Molfetta.</div>
                            </li>
                            <li style="--accent-color:#E24A68">
                                <div class="date">1997</div>
                                <div class="title">PalaColombo</div>
                                <div class="descr">Nel 1997 viene inaugurato il PalaColombo in occasione dei Giochi del Mediterraneo 1997. Queste tappe consentono al movimento cittadino di evolversi ulteriormente, garantendo una rapida ascesa nei campionati nazionali.</div>
                            </li>
                            <li style="--accent-color:#4CADAD">
                                <div class="date">2002</div>
                                <div class="title">Vittoria serie C</div>
                                <div class="descr">Nell'anno 2002 la Pallacanestro Fiore di Puglia vince il campionato di Serie C1 - Girone G della stagione 2001/2002, ottenendo la promozione in Serie B2. Durante i sette anni di permanenza nella categoria, la compagine biancoazzurra, sotto il nome di Adriatica Industriale Ruvo, giunge più volte ai play-off promozione arrendendosi per tre volte in semifinale e per due volte in finale. In questi anni diviene memorabile la rivalità con Ostuni, affrontata ripetutamente durante le gare decisive per la promozione. </div>
                            </li>
                            <li style="--accent-color:#1B5F8C">
                                <div class="date">2008</div>
                                <div class="title">ASD Ruvo di Puglia Basket</div>
                                <div class="descr">Nel 2008 la formazione prende il nome di ASD Ruvo di Puglia Basket.</div>
                            </li>
                            <li style="--accent-color: #b3e6ff">
                                <div class="date">2009</div>
                                <div class="title">Ripescaggio serie A Dilettanti</div>
                                <div class="descr">Nell'estate 2009 la formazione ruvestina viene promossa in Serie A Dilettanti attraverso il ripescaggio causato dalla promozione del Casalpusterlengo in Legadue, a sua volta frutto di ripescaggio. La prima stagione del Ruvo A dilettanti è storica: partita per salvarsi, la matricola ruvestina stupisce tutti e con un girone di ritorno strepitoso (record di sei vittorie consecutive ed imbattuta in casa) chiude addirittura al sesto posto in classifica, venendo eliminata dalla Mazzeo San Severo ai quarti di finale dei playoff validi per la promozione in Legadue.</div>
                            </li>
                            <li style="--accent-color:#e6ccff">
                                <div class="date">2010</div>
                                <div class="title">Ruvo da record!</div>
                                <div class="descr">La stagione 2010/2011 è quella che porta ai vertici della categoria la formazione biancoazzurra: in un campionato complicatissimo e difficilissimo (retrocede il 50% delle partecipanti), i ruvestini chiudono in testa il girone d'andata con tredici vittorie e due sconfitte. Nonostante un calo nel girone di ritorno, Ruvo chiude il campionato al terzo posto, conquistando i playoff. Ancora una volta, le semifinali mettono Ruvo contro Ostuni in una serie appassionante e combattuta. Grazie alle vittorie in trasferta di Gara 1 e Gara 3, i ruvestini hanno la chance di chiudere la serie in casa in Gara 4, ma non vi riescono e in Gara 5 si arrendono ai più quotati avversari. Si tratta del risultato più alto raggiunto dal basket ruvestino nella sua storia.</div>
                            </li>
                            <li style="--accent-color:#66ff66">
                                <div class="date">2012</div>
                                <div class="title">Ritorno in C</div>
                                <div class="descr">Nel 2012 la società biancoazzurra rinuncia al rinnovo dell'iscrizione alla Divisione Nazionale A[1], ripartendo dalla Serie C pugliese per la stagione 2012/2013.</div>
                            </li>   
                            <li style="--accent-color:#ffdb4d">
                                <div class="date">2018</div>
                                <div class="title">Ritorno in B</div>
                                <div class="descr">Dopo sette anni trascorsi nei massimi campionati regionali pugliesi, la Tecnoswitch Ruvo ottiene la promozione nel campionato nazionale di Serie B battendo il Monopoli per 3-1 nella serie della finale playoff promozione di Serie C Gold Puglia 2018/2019 nella cornice di un PalaColombo gremito di sostenitori ruvestini. </div>
                            </li>        
                            <li style="--accent-color:#79a6d2">
                                <div class="date">2019</div>
                                <div class="title">TO-BE</div>
                                <div class="descr">TO-BE</div>
                            </li>                                                                                                                                                                       
                        </ul>
                    </div>
                    
                </div>

            </div>

            <div class="col-xl-2 col-lg-2 col-md-12 col-sm-12 col-xs-12">
                <app-sidenav-page></app-sidenav-page>
            </div>    
        </div>
    </div>
</section>


