<header class="header header--layout-1">
    <div class="header__top-bar clearfix">
        <div class="container">
            <div class="header__top-bar-inner">		
                <div class="col-10">
                    <ul class="social-links social-links--main-nav social-links--top-bar">
                        <li class="social-links__item"><a href="https://www.facebook.com/talosbasketruvo/" class="social-links__link" matTooltip="Facebook" data-toggle="tooltip" data-placement="bottom" title="" target="_blank" data-original-title="Facebook"><i class="fab fa-facebook-square" aria-hidden="true"></i></a></li>
                        <!-- <li class="social-links__item"><a href="" class="social-links__link" data-toggle="tooltip" data-placement="bottom" title="" target="_blank" data-original-title="Twitter"><i class="fab fa-twitter"></i></a></li> -->
                        <li class="social-links__item"><a href="https://www.instagram.com/talosbasketruvo/" class="social-links__link" matTooltip="Instagram" data-toggle="tooltip" data-placement="bottom" title="" target="_blank" data-original-title="Instagram"><i class="fab fa-instagram" aria-hidden="true"></i></a></li>
                        <!-- <li class="social-links__item"><a href="" class="social-links__link" data-toggle="tooltip" data-placement="bottom" title="" target="_blank" data-original-title="YouTube"><i class="fab fa-youtube"></i></a></li> -->
                    </ul>
                </div>
                <div class="col-2 login">
                    <ul class="social-links social-links--main-nav social-links--top-bar login">
                        <li class="social-links__item"><a href="#" class="social-links__link" matTooltip="Log-in" data-toggle="tooltip" data-placement="bottom" title="" target="_blank" data-original-title="Log-in"><i class="fas fa-sign-in-alt" aria-hidden="true"></i></a></li>                    
                    </ul>
                </div>
            </div>
        </div>
    </div> 
</header>
