<app-header-page title="{{title}}"></app-header-page>


<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-xl-10 col-lg-10 col-md-12 col-sm-12 col-xs-12">
                <div class="row">
                    <div class="col-12 div-img-cover">
                        <img src="../../../../assets/images/palazzetto.jpg" alt="" class="img-cover">
                    </div>
                    <div class="col-12">
                        <h2>PREZZI BIGLIETTI</h2>
                        <p>
                            Il costo del singolo biglietto delle partite casalinghe in questa stagione sarà:
                            <br><br>
                            <b>INTERI</b> 10 euro
                            <br><br>
                            <b>RIDOTTI 14-18 ANNI</b> 5 euro
                            <br><br>
                            Ingresso <b>gratuito</b> per gli <b>Under 14</b> e per tesserati <b>altro</b>.
                            <br><br>          
                            <b>OSPITI</b> 10 euro
                            <br><br>
                            La società si riserva il diritto di modificare i prezzi in alcune gare.
                        </p>
                        <br>
                        <h2>ACCREDITI</h2>
                        <br>
                        <p>
                            Giornalisti e fotografi possono richiedere accredito inviando una mail a test&#64;mail.it.
                            <br><br>
                            Portatori di handicap al 100% possono richiedere accredito insieme al proprio accompagnatore recandosi in biglietteria al Palacolombo.
                            <br><br>
                            Per informazioni: info&#64;mtvb.it
                        </p>
                       
                    </div>     
                </div>
                                   
            </div>
            <div class="col-xl-2 col-lg-2 col-md-12 col-sm-12 col-xs-12">
                <app-sidenav-page></app-sidenav-page>
            </div>    
         </div>
     </div>
 </section>
 