
<div class="immagine-sfondo" style="margin-bottom: 20px;">
    <img  src="../../../assets/tifosi-2-resize.jpeg">
 </div>

<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                <app-ultimi-comunicati></app-ultimi-comunicati>
            </div>

            <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                <div class="sidebar">
                    <app-sidenav-page></app-sidenav-page>
                </div>
            </div>    
        </div>
    </div>
</section>


    