<app-header-page title="{{title}}"></app-header-page>

<section>
    <div class="container">
        <div class="row">
            <div *ngIf="ats != null">
                <div *ngFor="let a of ats" class="row">
                    <div class="col-12 title-banner">
                        <h2 class="title">{{a.tipo}}</h2>
                    </div>
                     <div *ngFor="let sponsor of a.sponsors" class="{{a.stileCssSponsor.classeDiv}}">
                        <img *ngIf="sponsor.url == null" src="{{sponsor.ftpImg}}" alt="" class="{{a.stileCssSponsor.classe}}">
                        <a *ngIf="sponsor.url != null" href="{{sponsor.url}}"><img *ngIf="sponsor.url != null" src="{{sponsor.ftpImg}}" alt="" class="{{a.stileCssSponsor.classe}}"></a>                        
                    </div> 
                </div>
            </div>
        </div>
    </div>
</section>