<!DOCTYPE html>
<html>
<head>
    <title>Pagina ufficiale basket ruvo</title>
    <meta name="viewport" content="width=device-width, initial-salce=1.0">
    <link rel="shortcut icon" type="img/png" href="img/asd.png"/>
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css" rel="stylesheet"  type='text/css'>
    <link href="https://use.fontawesome.com/releases/v5.0.1/css/all.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet"> 
    
</head>
<body>

  <app-header></app-header>
  <app-header-secondary></app-header-secondary>
  <app-nav></app-nav>
  <app-content></app-content>
  <app-footer></app-footer>
  
  <!-- <router-outlet></router-outlet> -->

<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>

<script src="js/bootstrap.min.js"></script>
<script defer="" src="https://static.cloudflareinsights.com/beacon.min.js/vcd15cbe7772f49c399c6a5babf22c1241717689176015" integrity="sha512-ZpsOmlRQV6y907TI0dKBHq9Md29nnaEIPlkf84rnaERnq6zvWvPUqr2ft8M1aS28oN72PdrCzSjY4U6VaAw1EQ==" data-cf-beacon="{&quot;rayId&quot;:&quot;8a285eb9a8495fd7&quot;,&quot;serverTiming&quot;:{},&quot;version&quot;:&quot;2024.6.1&quot;,&quot;token&quot;:&quot;cd0b4b3a733644fc843ef0b185f98241&quot;}" crossorigin="anonymous"></script>

</body>
</html>  

