
.style-content{
    background-color: #f5f5f5;

}


.movetop {
    position: sticky;
    top: 0;
    background: #ccc;
    padding: 10px;
    color: #ae81fe;
    z-index: 1;
    border: 1px solid #777;
  }
  