<app-header-page title="{{title}}"></app-header-page>
<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-xl-10 col-lg-10 col-md-12 col-sm-12 col-xs-12">                
                    <div class="header-news">
                        <div class="post-category">
                            <span *ngIf="this.news.categorie.length">
                                <span class="post" *ngFor="let cat of news.categorie">{{cat.descrizioneCategoria}}</span>
                            </span>

                            <span class="visualizzazioni-news"><p class="data-news">{{news.dataIns}}&nbsp;<span class="visualizzazioni-news"><i class="fas fa-eye"></i> {{news.numeroVisualizzazione}}</span></p></span>
                        </div>
                        <h1>
                            {{news.titolo}}
                        </h1>
                    </div>

                    <div class="image-container">
                        <img src="{{news.pathImg}}"> 
                    </div>    
                    <div class="content-news">
                        <p>
                            {{news.descrizione}}                            
                        </p>
                    </div>
            </div>
            <div class="col-xl-2 col-lg-2 col-md-12 col-sm-12 col-xs-12">
                <app-sidenav-page></app-sidenav-page>
            </div>    
         </div>
     </div>
 </section>
 


