 <div class="container">
    <div class="col-12 row">
        <div class="outer-wrapper">
            <div class="col-lg-4 col-xs-12 center">
                <span><a href="https://tecnoswitch.com/"><img src="..\..\..\assets\logo_tecno.png" alt="" class="banner-style"></a></span>           
            </div>
            <div class="col-lg-4 col-xs-12 center">
                <span><a><img src="..\..\..\assets\logo.png" alt="" class="banner-style"></a></span>            
            </div>
            <div class="col-lg-4 col-xs-12 center">
                <span><a  href="https://www.legapallacanestro.com/"><img src="..\..\..\assets\lnp.png" alt="" class="banner-style"></a></span>            
            </div>
        </div>
    </div>
</div> 